:root {
    --raisin-black: #1e1e24ff;
    --penn-red: #92140cff;
    --floral-white: #fff8f0ff;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: var(--floral-white);
}

h1 {
    font-size: 30px;
    margin: 0;
    text-shadow: 1px 1px var(--raisin-black);
    text-align: center;
}

.game-screen {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    height: 550px;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.line-square-01,
.line-square-02,
.line-square-03,
.line-square-04,
.line-square-05 {
    display: flex;
    width: 90%;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.square {
    width: 100px;
    height: 100px;
    flex-grow: 1;
    background-color: var(--penn-red);
    border-radius: 15px;
    box-shadow: 5px 5px 10px 1px var(--raisin-black);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
}

.show {
    animation: show-animate 0.7s both;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {
    animation: hide-animate 0.3s both;
}

.discovered {
    background-color: var(--raisin-black);
    animation: discovered-animate 0s both;
}

button {
    position: fixed;
    bottom: 20px;
    right: 10px;
    outline: none;
    border: none;
    border: 5px solid var(--penn-red);
    padding: 10px;
    font-weight: 900;
    cursor: pointer;
    font-size: 15px;
    color: var(--penn-red);
    background-color: var(--floral-white);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    transition: all 0.5s;
}

button:hover {
    background-color: var(--penn-red);
    color: var(--floral-white);
}

@keyframes show-animate {
    from {
        transform: rotate3d(0, 0, 0, 0);
        background-color: var(--penn-red);
    }

    to {
        background-color: var(--raisin-black);
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

@keyframes hide-animate {
    from {
        transform: rotate3d(0, 0, 0, 0);
    }

    to {
        transform: rotate3d(0, 1, 0, -360deg);
    }
}

@keyframes discovered-animate {
    from {
        transform: rotate3d(0, 0, 0, 0);
    }

    to {
        transform: rotate3d(0, 1, 0, -360deg);
    }
}

@media screen and (max-width:700px) {
    .game-screen {
        width: 100%;
    }

    .line-square-01,
    .line-square-02,
    .line-square-03,
    .line-square-04,
    .line-square-05 {
        width: 100%;
    }

    .square {
        flex-grow: 0;
        flex-shrink: 0;
        width: 20vw;
        height: 20vw;
        font-size: 20vw;
    }

    .square img {
        width: 100%;
    }

    button {
        position: static;
        font-size: 4vw;
        width: 50%;
        margin: auto;
    }
}